<td>{{ rating?.fio}}</td>
<td *ngFor="let l of lessonRecords">
    <select #changedValue value={{rating?.ratings[l.num-1]}} (change) = "OnChange(l.num, changedValue.value)">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select>
</td>
<td>{{ rating?.avgRound | number: "1.2"}}</td>
<td>{{ rating?.avgRoundInt | number: "1.0" }}</td>
<td><button type="button" (click)="deleteMe()">Удалить запись</button></td>